<html>

<body>
    <form id="code-post" action="." method="post" name="code-post" data-name="Code form" class="form">
        <textarea id="codewr" name="code" rows="40" cols="50" class="codein" placeholder="Code goes here"></textarea>
        <textarea id="outputr" name="output rows=" 40 " cols="50 " class = "output " disabled placeholder="output goes here ">{% if output %}<strong>OUTPUT:</strong> {{ output }} {% endif %}</textarea>
        <button type= "submit">Run</button>
    </form>
    <!-- <label for="lang ">Programming language:</label>
    <select name="lang " id="lang ">
            <option value="python ">Python</option>
            <option value="java ">Java</option>
            <option value="c ">C</option>
            <option value="cpp ">C++ </option>
        </select> -->
</body>

</html>
