*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #151618;
    font-family: 'Source Code Pro', monospace;
}

#code-side {
    border-radius: 10px;
    width: 50%;
    float: left;
    height: 100%;
    padding: 5px;
    overflow: auto;
    margin-left: 5px;
}

#op-dec {
    margin-top: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    color: white;
    background-color: #080808;
    border-bottom: 2px solid white;
}

#code-output {
    background-color: #181a1b;
    color: white;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    margin: auto;
    height: 15%;
    box-shadow: 0px 2px 3px rgba(0,0,0,.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05) ;
    outline-style: none;
    overflow: auto;
    white-space: nowrap;
}

#code-run,
#download,
#dropbtn {
    padding: 10px;
    font-size: 16px;
    font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;    background-image: linear-gradient(to bottom left, #271688, #0b1549);
    color: #fff;
    border: none;
    border-radius: 5px;
    /* margin-top: 30px; */
    box-shadow: 0px 2px 3px rgba(0,0,0,.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05) ;
    text-decoration: none;
    overflow: hidden;
    justify-content: center;
}

#dropbtn {
    position: relative;
    right: 0;
    text-transform: none;
}

/* [New button css] */

#download, #code-run {
    margin-top: 0px;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
  
#download:hover, #code-run:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#code-run {
    margin-top: 30px;
}

#dropdown {
    position: relative;
    display: inline-block;
    border: none;
}

#dropbtn {
    background-image: linear-gradient(to bottom left, #271688, #0b1549);
    color: rgb(255, 255, 255);
    background-color: #2a2d3a;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 3px rgba(0,0,0,.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05) ;
}


/* [Customising codemirror look and feel] */

.CodeMirror {
    font-family: 'Source Code Pro';
    height: 60%;
    color: white;
    direction: ltr;
    background-color: #25282c;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
    box-shadow: 0px 2px 3px rgba(0,0,0,.13) ,1px 2px 2px rgba(0,0,0,.1) , -1px -2px 2px rgba(0,0,0,.05) ;
}

.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
    background-color: #000000;
}

.CodeMirror-gutters {
    border-right: 1px solid rgb(255, 255, 255);
    background-color: #000000;
    white-space: nowrap;
    padding-right: 5px;
}

.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}

.CodeMirror-cursor {
    border-left: 1px solid rgb(255, 255, 255);
    border-right: none;
    width: 1;
}

/* [Scrollbar css] */
        
::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(90, 87, 87, 0);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}