<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/codemirror.css">
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <div id="code-side">
        <form id="form-code" action="." method="post" name="code-post" data-name="Code form" class="form">
            <div id="code-head">
                <button id="download"><span></span><span></span><span></span><span></span>Download</button>
                <div id="dropdown">
                    <select name="lang" id="dropbtn">
                        <option value=" ">Select a programming language</option>
                        <option value="python ">Python</option>
                        <option value="java ">Java</option>
                        <option value="c ">C</option>
                        <option value="cpp ">C++</option>
                    </select>
                </div>
            </div>
            <textarea class="codemirror-textarea" name="code"></textarea>
            <div id="op-dec"><strong>Output:</strong></div>
            <div contenteditable="true" id="code-output" name="output" placeholder="Ouput will be displayed here" class="outputr">{% if output %} {{ output }} {% endif %}</div>
            <button id="code-run" type="submit "><span></span><span></span><span></span><span></span>Run</button>
        </form>
    </div>

    <!--javascript-->
    <script type="text/javascript" src="../static/jquery.min.js"></script>
    <script type="text/javascript" src="../static/codemirror.js"></script>
    <script type="text/javascript" src="../static/default.js"></script>

</body>

</html>